html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: black;
}

.mainTitle {
  background-image: url("../images/wizardofoz.png");
  width: 59.58rem;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: contain;

  color: white;
}
#timer {
  font-size: 1.33rem;
}

#mainGame {
  margin-top: 2rem;
  font-size: 1.33rem;
}

.answer-choices {
  margin-top: 1rem;
  font-size: 1rem;
  border: 1px green solid;
  text-align: center;
  padding: 0.5rem;
}

.answer-choices:hover {
  background-color: forestgreen;
  color: white;
  font-weight: bold;
}

.answer-choices:active {
  background-color: forestgreen;
  color: white;
  font-weight: bold;
}

.answer-choices:focus {
  background-color: forestgreen;
  color: white;
  font-weight: bold;
}
