html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

#timer {
  font-size: 1.33rem;
}

#mainGame {
  margin-top: 2rem;
  font-size: 1.33rem;
}

.answer-choices {
  margin-top: 1rem;
  font-size: 1rem;
}
