@font-face {
  font-family: "wiz";
  src: url("wiz.ttf") format("truetype");
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-image: url("../images/oz.gif");
  background-size: cover;
  color: black;
}

.mainTitle {
  font-family: "wiz", Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  color: forestgreen;
  font-size: 5rem;
  font-weight: bold;
}
#timer {
  font-size: 1.33rem;
  background-color: rgba(34, 139, 34, 0.7);
  color: white;
}

#mainGame {
  margin-top: 1rem;
  font-size: 1.33rem;
  background-color: rgba(34, 139, 34, 0.7);
  color: white;
}

.answer-choices {
  margin-top: 0.88rem;
  font-size: 1rem;

  text-align: center;
  padding: 0.5rem;
}

.answer-choices:hover {
  background-color: forestgreen;
  color: white;
  font-weight: bold;
}

.answer-choices:active {
  background-color: forestgreen;
  color: white;
  font-weight: bold;
}

.answer-choices:focus {
  background-color: forestgreen;
  color: white;
  font-weight: bold;
}
